/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
  font-family: UbuntuMono;
  src: url('../fonts/UbuntuMono-R.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h2 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: #2D45C5;
}

a:visited {
  color: #4F0987;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Fonts
/*
/*****************************************************************************/

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/MonoSocialIconsFont-1.10.eot');
  src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
       url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
       url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.symbol {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

span.symbol {
  font-size: 32px;
}

.social-link {
  text-decoration: none;
  color: #666;
}

.symbol:hover {
  color: #0F4D92;
}

.social-link:visited {
  color: #666;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.projects, ul.recent-blog-posts {
  margin-left: 2em;
  margin-bottom: 2em;
}

ul.recent-blog-posts {
  list-style-type: none;
}

ul.recent-blog-posts li {
  line-height: 1.7em;
  margin-bottom: .2em;
  font-size: 0.9em;
  text-indent: -0.6em;
}

ul.projects li {
  line-height: 1.7em;
  margin-bottom: .4em;
  font-size: 0.9em;
}

span.post-date {
  color: #aaa;
  font-family: UbuntuMono;
  font-size: 14px;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

h2 {
  font-size: 1.0em;
}

.site {
  font-size: 110%;
  text-align: justify;
  width: 600px;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #0F4D92;
  font-weight: bold;
  margin-bottom: 2em;
}

.site .title a.myname {
  color: #0F4D92;
  text-decoration: none;
  font-size: 1.3em;
}

.site .title a.myname:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1.0em;
  font-weight: normal;
  font-size: 1.0em;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
}

.site .footer #copyright {
  float: right;
}

/* posts */
pre {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  margin: 0 0 10px;
  display: block;
  border-radius: 4px;
}

code {
  display: auto;
  padding: 0.5em;
}


/*****************************************************************************/
/*
/* Mobile
/*
/*****************************************************************************/

@media (max-width: 640px) {

  .site {
    width: 90%;
    margin: 2em auto 2em auto;
  }

  /* Bullets with no dates for blog post links */
  ul.recent-blog-posts {
    list-style-type: disc;
  }

  span.post-date {
    display: none;
  }

  span.dash {
    display: none;
  }

  ul.recent-blog-posts li {
    text-indent: 0em;
  }

}

