     <div class="footer">
       <div class="contact">
         <p>
           <a href="mailto:johnheroy@gmail.com" class="social-link"><span class="symbol">circleemail</span></a>
           <a href="http://github.com/johnheroy/" class="social-link" target="_blank"><span class="symbol">circlegithubalt</span></a>
           <a href="https://www.linkedin.com/pub/john-g-heroy/23/274/a54" class="social-link" target="_blank"><span class="symbol">circlelinkedin</span></a>
           <a href="http://blog.johnheroy.com/" class="social-link" target="_blank"><span class="symbol">circletumblr</span></a>
           <a href="http://twitter.com/johnheroy/" class="social-link" target="_blank"><span class="symbol">circletwitterbird</span></a>
         </p>
       </div>
       <div id="copyright">
         <p>
           John Heroy &copy; 2014
         </p>
       </div>
     </div>
   </div>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50387972-3', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
<!-- Google Analytics end -->

</body>

</html>