  <meta name="author" content="John Heroy" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/tomorrow-night-blue.min.css">

  <!-- JavaScript -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
  <div class="site">
    <div class="title">
      <a class="myname" href="/">John Heroy</a>
      <a class="extra" href="/about.html">about</a>
    </div>